#include <windows.h>

#define IDI_MAIN_ICON 101

IDI_MAIN_ICON ICON "axim_x50v/rsc/ftaghn.ico"

// Pocket PC 2003SE / Windows Mobile 5.0 High-DPI VGA Awareness Resource
// Must be named resource "HI_RES_AWARE" of type "CEUX", value 0x0001
HI_RES_AWARE CEUX
BEGIN
    0x0001
END
